# useless os files
Thumbs.db
Desktop.ini
.DS_Store
#Ignore files build by Visual Studio
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.vcxproj*
*.opensdf
*.sdf
*.sln
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
premake/*/
lib/linux/libmathlib_i486.a
lib/linux/libtier1_i486.a
.vagrant/
.steamcmd/
